* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style-type: none;
    display: flex;
    padding-left: 10px;
}

/* 
.container {
    width: 70%;
}
 */

body {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: center;
   
}

.navbar {
    background-color: rgb(239, 126, 13);
    display: flex;
    justify-content: space-between;
    border: 2px dotted black;
    margin: 10px 0;
    width: 70%;
    
}

.boxlink {
    display: flex;
    justify-content: center;
}

.section-1 {
    background-color: blue;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.container-section-1 {
    height: 200px;
    width: 50%;
    background-color: orange;
    margin: 10px 100px;
}

.section-2 {
    background-color: rgb(225, 171, 99);
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px 0;
}

.box {
    height: 200px;
    padding: 20px;
    border: 3px dotted black;
}

.box1 {
    width: calc((100% / 12) * 4);
    background-color: aqua;
}

.box2 {
    width: calc((100% / 12) * 8);
    background-color: fuchsia;
}

.gray-box {
    background-color: gray;
    width: 100%;
    display: flex;
}

.green-box {
    height: 400px;
    width: 70%;
    background-color: green;
    padding: 20px 0;
    justify-content: flex-start;
}
